@font-face {
  font-family: "deToks";
  src: url(/fonts/deToks.otf);
}

@font-face {
  font-family: "Longhaul";
  src: url(/fonts/Longhaul.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(/fonts/Roboto-Black.ttf);
}

body {

    background-color: #0000; /* Black background color */
    font-family: Helvetica;

  }

h1 {

  font-family: Roboto-Black;

}