<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, width=devide-width" />
    <link href="/static/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>Ares Bjj</title>
  </head>
  <header>
    <img src="/static/ares logos/aresbjj_logo.png" width="200">
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/register">Register</a>
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/user">Profile</a>
    </div>
  </header>
  <body>
        
    {% block body %}{% endblock %}
  
</body>
</html>
