{% extends "layout.html" %}

{% block body %}

    <br><br><form action="/registrants" method="post">
        <input type="text" id="fname" name="fname" placeholder="First name">
        <input type="text" id="lname" name="lname" placeholder="Last name"><br>
        <input type="date" id="birthdate" name="birthdate" placeholder="birthdate">
        <select name="belt">
            <option disabled selected>Your current belt</option>
            {% for belt in belts %}
                <option> {{ belt }} </option>
            {% endfor %}
        </select>
        <select name="degree">
            <option disabled selected>Your belt degree</option>
            {% for degree in degrees %}
                <option> {{ degree }} </option>
            {% endfor %}
        </select><br>
        <input type="email" id="email" name="email" placeholder="The email you use on daily basis">
        <input type="tel" id="phone" name="phone" placeholder="phone"><br><br>
        <input type="submit" id="register" value="Register">
    </form>
    <br><a href="/"><button>Go home</button></a>

{% endblock %} 