{% extends "layout.html" %}

{% block body %}
    <h1>All students</h1>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Belt</th>
                <th>Degree</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student["fname"] }}</td>
                    <td>{{ student["lname"] }}</td>
                    <td>{{ student["belt"] }}</td>
                    <td>{{ student["degree"] }}</td>
                    <td>{{ student["age"] }}</td>
                    <td>{{ student["phone"] }}</td>
                    <td>{{ student["email"] }}</td>
                    <td>
                        <form action="/deregister" method="post">
                            <input name="id" type="hidden" value="{{ student["id"] }}">
                            <input type="submit" value="Deregister">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br><a href="/"><button>Go home</button></a>

{% endblock %}